/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    width: 1180px;
    margin: 0 auto;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.movie {
    border: 1px solid #ccc;
    padding: 5px;
}

.movie img {
    width: 100%;
    height: auto;
}

.genre-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.genre {
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
    border: 1px #999 solid;
    font-weight: bold;
}

.genre:hover {
    background-color: #fff;
    transition: all;
    transition-duration: 0.5s;
}

.genre img {
    width: 50px;
    height: 50px;
}

footer {
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    background-color: #333;
    color: #fff;
}
